setono_sylius_feed_admin_feed:
    resource: |
        alias: setono_sylius_feed.feed
        section: admin
        templates: '@SyliusAdmin\\Crud'
        redirect: show
        grid: setono_sylius_feed_admin_feed
        permission: true
        vars:
            all:
                subheader: setono_sylius_feed.ui.manage_feeds
            index:
                icon: 'file image outline'
    type: sylius.resource

setono_sylius_feed_admin_feed_show:
    path: /feeds/{id}
    methods: [GET]
    defaults:
        _controller: setono_sylius_feed.controller.feed::showAction
        _sylius:
            section: admin
            permission: true
            template: "@SetonoSyliusFeedPlugin/Admin/Feed/show.html.twig"

setono_sylius_feed_admin_feed_process:
    path: /feeds/{id}/process
    methods: [GET]
    defaults:
        _controller: setono_sylius_feed.controller.action.admin.process_feed

setono_sylius_feed_admin_feed_violations_index:
    path: /feeds/{id}/violations
    methods: [GET]
    defaults:
        _controller: setono_sylius_feed.controller.violation::indexAction
        _sylius:
            vars:
                route:
                    parameters:
                        id: $id
            template: '@SyliusAdmin/Crud/index.html.twig'
            grid: setono_sylius_feed_admin_violation
            section: admin
            permission: true
