/.editorconfig                      export-ignore
/.gitattributes                     export-ignore
/.github                            export-ignore
/.gitignore                         export-ignore
/CHANGELOG.md                       export-ignore
/README.md                          export-ignore
/UPGRADE.md                         export-ignore
/behat.yml.dist                     export-ignore
/composer-dependency-analyser.php   export-ignore
/docs                               export-ignore
/docs                               export-ignore
/ecs.php                            export-ignore
/etc                                export-ignore
/infection.json.dist                export-ignore
/node_modules                       export-ignore
/phpunit.xml.dist                   export-ignore
/psalm-baseline.xml                 export-ignore
/psalm.xml                          export-ignore
/rector.php                         export-ignore
/tests                              export-ignore
