includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    reportUnmatchedIgnoredErrors: true

    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

    ignoreErrors:
        - '/Parameter #1 $configuration of method Symfony\Component\DependencyInjection\Extension\Extension::processConfiguration() expects Symfony\Component\Config\Definition\ConfigurationInterface, Symfony\Component\Config\Definition\ConfigurationInterface|null given./'
        - '/Method Setono\\SyliusFeedPlugin\\Model\\BrandAwareInterface\:\:getBrand\(\) has no return typehint specified\./'
        - '/Method Setono\\SyliusFeedPlugin\\Model\\ConditionAwareInterface\:\:getCondition\(\) has no return typehint specified\./'
        - '/Method Setono\\SyliusFeedPlugin\\Model\\GtinAwareInterface\:\:getGtin\(\) has no return typehint specified\./'
        - '/Method Setono\\SyliusFeedPlugin\\Form\\DataTransformer\\FeedTypeToCodeTransformer\:\:transform\(\) has parameter \$code with no typehint specified\./'
        - '/Method Setono\\SyliusFeedPlugin\\Form\\DataTransformer\\FeedTypeToCodeTransformer\:\:reverseTransform\(\) has parameter \$feedType with no typehint specified\./'
