<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
    <channel>
        <title>{{ title }}</title>
        <link>{{ url }}</link>
        <description>{{ description }}</description>
        {% for item in items  %}
            <item>
                <g:availability>{{ loop.index }}</g:availability>
            </item>
        {% endfor %}
    </channel>
</rss>
