<div class="ui accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        {{ 'sylius.ui.view'|trans }}
    </div>
    <div class="content">
        <pre>{{ data }}</pre>
    </div>
</div>
